#about {
  width: 100vw;
  color: #F0EBD8;
  background-color: #3E5C76;
}

#about h1 {
  text-decoration: underline;
  text-align: center;
  padding-top: 2rem;
}

#about p {
  padding: 6%;
  text-align: justify;
}