#contact {
    width: 100vw;
    color: #F0EBD8;
  }

#contact h1 {
    text-decoration: underline;
    text-align: center;
    color: #F0EBD8;
}

form {
    margin: 2rem;
}

label,input {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 2rem;
}

input[type=submit] {
    margin-top: 1rem;
}

input[type=submit]:hover {
    cursor: pointer;
}

textarea {
    display: block;
    margin: 0 auto;
    height: 10rem;
    width: 80%;
}