footer {
    width: 100vw;
    height: auto;
    background-color: #748cab;
    text-align: center;
}

footer li {
    display: inline-block;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0 3rem;
}

footer p {
    padding-top: 1rem;
}

footer a {
    color: #0D1321;
}

footer a:hover {
    color: #F0EBD8;
}