#home {
  height: auto;
  background-color: rgb(59, 80, 107);
  background: url("../assets/wallpaper.jpg") no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #0D1321;
}

.header {
  text-align: center;
  padding-bottom: 2rem;
}

.header h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 2rem;
}

.header img {
  margin-top: 2rem;
  width: 90%;
  box-shadow: black 2px 2px 6px;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header img {
    max-width: 30%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header img {
    max-width: 20%;
  }
}
