.nav {
    left: 0;
    top: 5%;
    position: fixed;
    height: auto;
    background: #748cab;
    width: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: black 2px 2px 6px;
    transition: .3s;
}
.nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.nav li {
    padding: 2rem;
    font-size: 1.5rem;
}

.nav a {
    text-decoration: none;
    color: #0D1321;
}

.nav a:hover {
    color: #F0EBD8;
}

.nav.closed {
    left: -12rem;
    transition: .3s;
}

.nav.closed:hover {
    box-shadow: black 4px 4px 12px;
    background: #3e5c76;
    cursor: pointer;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .nav {
        display: none;
    }
}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav li {
        font-size: 1rem;
    }

    .nav.closed {
        left: -9rem;
        transition: .3s;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
