#portfolio {
  background-color: #0d1321;
  padding-bottom: 5%;
}

#portfolio h1 {
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-align: center;
  color: #F0EBD8;
}

.project {
  text-align: center;
  margin: 5%;
  background-color: #F0EBD8;
  box-shadow: black 2px 2px 6px;
  color: #0D1321;
}

.project h3 {
  padding-top: 1rem;
  color: #0D1321;
}

.project img {
  margin-top: 1rem;
  width: 90%;
  cursor: pointer;
}

.project p {
  text-align: justify;
  padding: 1rem;
}

.project a {
  color: #3E5C76;
}

.project a:hover {
  color: #748cab;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: auto auto;
  }

  .project img {
    margin-top: 1rem;
    width: 22vw;
    cursor: pointer;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}