.container {
  display: block;
  cursor: pointer;
  position: fixed;
  right: 0;
  z-index: 300;
}

.button {
  width: 35px;
  right: 5vw;
  position: absolute;
}

.bar1, .bar2, .bar3 {
  margin: 6px 6px 6px auto;
  width: 35px;
  height: 5px;
  background-color: #0D1321;
  /* margin: 6px 0; */
  transition: 0.4s;
  border: 1px solid #F0EBD8;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  transition: 0.4s;
  border: none;
}

.change .bar2 {
  opacity: 0;
  transition: 0.4s;
  border: none;
}


.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  transition: 0.4s;
  border: none;
}

.sidebar {
  position: fixed;
  right: 0;
  width: 100vw;
  transition: .4s;
  z-index: 200;
}

.sidebar.hidden {
  right: -100%;
}

.side-nav {
  z-index: 1000;
  right: 0;
  position: absolute;
  background-color: #3E5C76;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.side-nav ul {
  margin-top: 30%;
  list-style: none;
}

.side-nav li {
  padding: 2rem;
  font-size: 1.5rem;
}

.side-nav a {
  color: #0D1321;
  -webkit-text-fill-color: #0D1321; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {}
/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button {
    display: none;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
